
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(94, 128, 94);
    color: black;
}

header {
    background-color: rgb(94, 128, 94);
    color: black;
    padding: 20px;
    align-items: center;
    height: 50px; 
}

.logo img {
    max-height: 50px; 
    margin-right: 20px; 
}

nav {
    text-align: center;
    background-color:orange;
    height: 65px;
}

nav ul {
    list-style-type: none;
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin-right: 20px;
   
}

nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 40px;
    background-color:orange;
    margin-left: 5px;
    margin-right: 5px;
    
}

section {
    padding: 20px;
}

.product {
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    color: black;
}


button {
    background-color:rgb(94, 128, 94);
    color: black;
    padding: 8px;
    border: none;
   
}

button:hover {
    background-color: #4b004b;
}

footer {
    background-color: orange;
    color: black;
    padding: 20px;
    text-align: center;
    bottom: relative;
    

}
#active
{
    text-decoration: none;
    padding: 0px;
    background-color: #800080;
    display: inline;
    border:2px yellow ;
    border-radius: 20px;
}
a:hover{
    color: white;
}
.pic:hover {
    transform: scale(1.05);
}


.logo img {
    max-height: 50px;
    margin-right: 20px;
}

#contact {
    padding: 20px;
}

.contact-details {
    display: flex;
    justify-content: space-between;
}

.google-maps {
    margin-top: 20px;
    width: 100%;
    height:300px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.basket{
    float:right; margin:10px;; 
}
#photo-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 20px 0;
    background-color: #fff;
}

#photo-container img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-right: 10px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#video-container {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#description-section {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#reviews-section {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 .review {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
p{
    text-decoration: none;
}
label {
    float: left;
    width: 112px;
    padding-right: 10px;
    text-align: right;
  }
  input {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
  }
  #button, #reset {
    margin-top: .5em;
    width: 8em;
    background-color:orange;
    border: 2px solid black;
  }
  input[type="checkbox"] {width: 15px;}
   
  #button
  {
    margin-left: 138px;
  }
   
  #reset
  {
    margin-left: 82px;}
    input[type="radio"] {width: 10px;
  }
  

